<section id="apoyo" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-6">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" class="img-fluid video-btn" data-src="https://img.youtube.com/vi/vQEoXqoFccE/maxresdefault.jpg" data-toggle="modal" data-vid="vQEoXqoFccE" data-target="#myModal">
            <i class='fa fa-5x fa-youtube-play position-absolute video-play' data-toggle="modal" data-vid="vQEoXqoFccE" data-target="#myModal" aria-hidden='true'></i>
        </div>
        <div class="col-lg-6">
            <h2 class="texto-gradiente gradiente-naranja">Impulsá la campaña</h2>
            <h3>Al Partido Digital lo hacemos entre todos</h3>
            <p><b>Necesitamos de tu apoyo para financiar la campaña y las actividades que hacemos</b></p>
            <p>Doná lo que puedas, venite a algunas de las actividades agendadas para recaudar fondos o sumate al equipo.</p>
            <p>Estos son los objetivos que tenemos pautados, ¡ayudanos a llenar la barra!</p>
        </div>
        <div class="col-lg-12">
            <div id="objetivos"></div>
            <p>Cada gasto estará mostrado de forma transparente en nuestra web como venimos haciendo hasta ahora.</p>
            <a href="/quieroapoyar" class="btn">Quiero apoyar la campaña</a>
            <a href="/voluntariado" target="_blank" class="btn secondary" itemprop="url" title="Elecciones internas 2019">Sumate</a>
        </div>
    </div>
</section>

<script src="/assets/js/jquery.stepProgressBar.js"></script>
<script src="/assets/js/quieroapoyar.js"></script>