<section class="banner container content-section gradiente-naranja-inverso p-3 text-xs-center">
    <div class="row p-2">
        <div class="col-md-1 mx-auto my-auto text-center">
            <img src="https://mivoz.uy/img/logos/LogoMiVoz-chico.png" width="150" />
            <img src="https://recursos.partidodigital.org.uy/assets/img/logo_at_blanco.svg" alt="" width="150" class="" />
        </div>
        <div class="col-md-9 mx-auto">
            <h3 class="m-0 d-block">Entramos en la etapa final del Programa de Gobierno</h3>
            <p>El Partido Digital considera fundamental que los ciudadanos puedan proponer desde su lugar ideas que puedan ser parte de su Programa de Gobierno. Aumentar la participación y transparencia en todas las instancias. Promoviendo espacios principalmente virtuales para conectar entre todos y mejorar la democracia por un Uruguay mejor.</p>
            <p class="m-0">Información importante:</p>
            <ul class="m-0">
                <li>Fecha límite para completar propuestas: 10 de setiembre</li>
                <li>Se abre votación: de 1 hasta el 22 setiembre. Las propuestas que llegaron hasta esta etapa final superen los 50 votos de usuarios verificados en la plataforma pasaran a ser parte del programa de gobierno.</li>
                <li>El 25 de Setiembre presentamos el Programa de Gobierno del Partido Digital</li>
            </ul>
            <p><De>Que una propuesta esté completa quiere decir que tenga la información correcta sobre Diagnóstico, la Propuesta en si, Institucionalidad, Cómo se va a Financiar y las métricas para evaluar su éxito. Los asesores legales del Partido Digital analizarán que no sean inconstitucionales. De esta manera vamos a dar el ejemplo nuevamente, donde vamos a presentar un programa de Gobierno en donde vos puedas y dejar una marca con su idea. Todavía estás a tiempo.</p>

            <h4>Proponer idea</h4>
            {% include recursos/assets/img/arrow.svg %}
            
            <h4 class="ml-4">Ver ideas</h4>
            {% include recursos/assets/img/arrow.svg %}
            </small>
        </div>
    </div>
</section> 