<section class="banner container content-section gradiente-naranja-inverso p-3 text-xs-center text-white">
    <div class="row p-2">
        <div class="col-md-1 mx-auto my-auto text-center">
            <img src="https://recursos.partidodigital.org.uy/assets/img/mivoz_logo_sin_texto.svg" width="150" />
        </div>
        <div class="col-md-9 mx-auto">
            <h3 class="m-0 d-block">PROGRAMA DE GOBIERNO DEL PARTIDO DIGITAL</h3>
            <p>Se presentaron casi 300 propuestas en Mi Voz.uy, de las que pasaron 130 al análisis legal. Luego de esa etapa avanzaron 95 a la etapa de votación. Finalmente por votación de los usuarios que se habían verificado con credencial, quedaron las 42 finales. Esas propuestas de la gente conforma el #ProgramaEntreTodos y el Partido Digital las presentará en el parlamento en 2020.</p>
            <a class="text-left" href="/programa">
                <h4>Ver Programa</h4>
                {% include recursos/assets/img/arrow.svg %}
            </a>
        </div>
    </div>
</section> 
