<section class="banner container content-section gradiente-naranja-inverso p-3 text-xs-center text-white">
    <div class="row p-2">
        <div class="col-md-1 mx-auto my-auto text-center">
            <img src="https://recursos.partidodigital.org.uy/assets/img/mivoz_logo_sin_texto.svg" width="150" />
        </div>
        <div class="col-md-9 mx-auto">
            <h3 class="m-0 d-block">PROGRAMA DE GOBIERNO DEL PARTIDO DIGITAL</h3>
            <p>Se cerró la votación de las ideas el 24 de Setiembre.</p>
            <p class="m-0">Las propuestas que ingresaron al #ProgramaEntreTodos las podés ver aquí: <a href="https://digo.mivoz.uy/c/programa">https://digo.mivoz.uy/c/programa</a></p>
            <p><b>¡El 26 de setiembre a las 19:30hs en Brandzen 2046 y <a href="https://www.facebook.com/PDigitalUy/">https://www.facebook.com/PDigitalUy/</a> presentamos el Programa de Gobierno del Partido Digital! ¡Te esperamos!</b></p>
        </div>
    </div>
</section> 
