<section id="firma" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/firma_icon.png" alt="" class="img-fluid" />
            <h2>Firmá</h2>

            <p style="font-size: 2em;"><span style="background-color: #f36f21; color: #ffffff; padding: 5px; border-radius: 15px;">539</span> ya firmaron.</p>

            <p><b>Necesitamos tu firma para que el Partido Digital sea una opción en las próximas elecciones.</b></p>

            {% include _sumate_form.html %}

            <p>Para validar tu firma nos comunicaremos para hacerte llegar <a href="/hoja.pdf">la hoja</a> donde tendrás que firmar y registrar tu credencial.</p>

            <p>Comunicate con nosotros al correo <a href="mailto:hola@partidodigital.org.uy">hola@partidodigital.org.uy</a> para dejarnos tus dudas, sugerencias, comentarios en general.</p>
                <!--<div class="col-md-6">
                    <span class="btn-circle mb-2 p-1" >
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </span>
                    <p>Acércate a alguno de nuestros próximos eventos. El Partido Digital no solo se trata de instancias online.</p>
                    <div class="alert alert-info" role="alert">
                        Reservate el primer Lunes de cada mes, es la instancia presencial abierta a todos. Actualmente es en Sinergia Cowork (Gonzalo Ramirez 1676) a las 20hs. Más información <a target="_blank" href="https://meetup.com/PartidoDigital">acá</a>.
                    </div>
                    <iframe src="https://calendar.google.com/calendar/embed?title=Partido%20Digital&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;hl=es_419&amp;bgcolor=%23ffffff&amp;src=pdigitaluy%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FMontevideo" style="border-width:0; height: 193px;" width="100%" frameborder="0" scrolling="no"></iframe>
                </div>-->
        </div>
    </div>
</section>
