<section id="sumate" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-12">
            <h2>¡Sumate al Partido Digital!</h2>
            <p>
                El Partido Digital lo hacemos entre todos. Si deseas una democracia más participativa y transparente, para lograr mejores resultados para todos no sólo unos pocos, regístrate debajo.
                Te contactaremos para que nos cuentes qué te motiva y cómo puedes impulsar el cambio, ¡hay muchas maneras!
            </p>
            <form id="contactoform" action="//partidodigital.us14.list-manage.com/subscribe/post?u=8e16f7903de2c0600985cf9e2&amp;id=3e02e25008" method="POST">
                <input id="name" type="text" placeholder="Nombre" name="NOMBRE" required>
                <input id="email" type="email" placeholder="E-mail" name="EMAIL" required>
                <input id="ciudad" type="text" placeholder="Ciudad" name="CIUDAD" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_8e16f7903de2c0600985cf9e2_3e02e25008" tabindex="-1" value="">
                </div>
                <input id="submit" type="submit" value="¡Sumarme!">
            </form>
            <div class="alert alert-info" role="alert">
                Cualquier duda pueden escribirnos a <a href="mailto:{{site.email_contacto}}" target="_blank">{{site.email_contacto}}</a>.
                <br/><br/>
                Para una instancia presencial de contacto, el equipo del Partido Digital se está reuniendo todos los primeros Lunes de cada mes en Sinergia Cowork (Gonzalo Ramirez 1676) a las 20hs. en una instancia abierta para que cualquiera se pueda acercar y conocer más la propuesta y de lo que estamos trabajando actualmente así como también plantear sus dudas o propuestas. Más información <a target="_blank" href="https://meetup.com/PartidoDigital">acá</a>.
            </div>
        </div>
    </div>
</section>