<section id="contacto" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <p align="center">
                <i class="fa fa-envelope-o fa-5x" style="color: #f36f21; font-size: 6em;" aria-hidden="true"></i>
            </p>
            <h2>Contacto</h2>

            {% comment %}
            <p>Si te interesa tener un Uruguay más transparente y participativo en el que tengas la oportunidad de que te voz valga la pena, ¡sumate y hacelo posible!</p>
            {% include _sumate_form.html %}
            {% endcomment %}

            <p>Comunicate con nosotros al correo <a href="mailto:contacto@partidodigital.org.uy">contacto@partidodigital.org.uy</a> para dejarnos tus dudas, sugerencias, comentarios en general.</p>
                
            <!--<div class="col-md-6">
                    <span class="btn-circle mb-2 p-1" >
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </span>
                    <p>Acércate a alguno de nuestros próximos eventos. El Partido Digital no solo se trata de instancias online.</p>
                    <div class="alert alert-info" role="alert">
                        Reservate el primer Lunes de cada mes, es la instancia presencial abierta a todos. Actualmente es en Sinergia Cowork (Gonzalo Ramirez 1676) a las 20hs. Más información <a target="_blank" href="https://meetup.com/PartidoDigital">acá</a>.
                    </div>
                    <iframe src="https://calendar.google.com/calendar/embed?title=Partido%20Digital&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;hl=es_419&amp;bgcolor=%23ffffff&amp;src=pdigitaluy%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FMontevideo" style="border-width:0; height: 193px;" width="100%" frameborder="0" scrolling="no"></iframe>
                </div>-->
        </div>
    </div>
</section>
