<section id="equipo" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/equipo.png" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-7">
            <h2 class="texto-gradiente gradiente-naranja">Hay Equipo</h2>
            <h3>Somos los desencantados de la política tradicional con ganas de innovar</h3>
            <p><b>Estamos convencidos de que la democracia representativa puede ser mejorada. Queremos traerla al siglo XXI.</b></p>
            <p>No dudes en comunicarte si querés ser parte del equipo del Partido Digital. Tenemos muchos equipos de trabajo que necesitan de tu ayuda. Podés también ayudarnos mucho conviertiéndote en <a href="/voluntariado">voluntario</a> o <a href="/afiliaciones">afiliándote</a>.</p>
            <a href="/equipo" class="btn">Conocé al equipo</a>
        </div>
    </div>
</section>
        
