<section class="intro firma">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p id="firma">Nos faltan <span style="background-color: #f36f21; color: #ffffff; padding: 5px; border-radius: 15px;">{{ 1310 | minus: site.firmas }}</span> de 1310 necesarias para inscribir el Partido Digital en la Corte Electoral.</p>

                    {% include _sumate_form.html %}

                    <p>Luego de clickear "Enviar información" se presentarán tus datos en la hoja que debes firmar para que fácilmente la puedas imprimir, firmar y llevarla a los puntos de recolección o entregarla a alguien del Partido Digital luego de coordinar por teléfono.</p>
                </div>
            </div>
        </div>
    </div>
</section>
