<section class="intro firma">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p id="firma">Nos faltan <span style="background-color: #f36f21; color: #ffffff; padding: 5px; border-radius: 15px;">{{ 1310 | minus: site.firmas }}</span> firmas para inscribir el Partido Digital en la Corte Electoral.</p>
                    <p>Registrate debajo y pasaremos por donde nos indiques para convertir tu registro en una firma en papel, ya que así lo requiere la Corte Electoral, ¡son 2 minutos!</p>

                    {% include _sumate_form.html %}

                    <p>Te contactaremos al número proporcionado antes de pasar por donde estés. Cada firma cuenta, contamos con vos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
