<section id="transparencia" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/pensando.png" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-7">
            <h2 class="texto-gradiente texto-gradiente--gradiente-naranja">Fluyen las ideas</h2>
            <h3>Vos definís las ideas del Partido Digital</h3>
            <p><b>Queremos llegar a las mejores ideas de Uruguay para alcanzar las mejores soluciones entre todos para todos. No te presentamos un pack de ideas predefinidias, confiamos en vos, ¡vamos a construirlas juntos!</b></p>
            <p>Nuestro Programa de Gobierno se está construyendo con las ideas de todos en <a href="http://mivoz.uy">mivoz.uy</a> en un proceso colaborativo y transparente.</p>
            <a href="/ideas" class="btn">Conocer más</a>
        </div>
    </div>
</section>
    