<section id="ideologia" class="container content-section text-xs-center separador">
  <div class="row">
    <div class="col-lg-12">
      <h2>Ideología</h2>
      <p>Todo partido político cuenta con ciertas ideas que desea impulsar. Esas ideas surgen de una reflexión profunda
        sobre el funcionamiento actual de la sociedad y la necesidad de realizar cambios en el funcionamiento de la
        misma, con el objetivo de mejorar la calidad de vida de todos los que la integran.</p>
      <p>La sociedad a la que el Partido Digital aspira llegar, es una en la que todos tenemos la
        educación suficiente para informarnos adecuadamente de los diferentes aspectos que afectan nuestra vida y la
        vida en sociedad. Una sociedad en donde cada persona puede dar su opinión sobre diferentes temas y la
        opinión de cada persona es tomada en cuenta; las decisiones colectivas se toman en base a dichas opiniones, y no
        en base a decisiones de ciertos grupos de interés con diferentes niveles de poder. Una sociedad donde el poder
        lo tienen todos y cada uno de sus ciudadanos.</p>
      <div class="row">
        <div class="col-md-6 mb-3" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
          <a href="/finanzas" itemprop="url">
            <span class="btn-circle mb-2 p-1">
                <i class="fa fa-dollar" aria-hidden="true"></i>
            </span>
          </a>
          <h3>Finanzas transparentes</h3>
          <p>En todo momento es posible saber con qué fondos dispone el Partido Digital, quién ha donado y en qué se ha
            gastado con su respectivo comprobante.</p>
          <a href="/finanzas" itemprop="url" class="btn">Conoce nuestras finanzas</a>
        </div>
        <div class="col-md-6 mb-3" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
          <a href="/plataforma" itemprop="url">
            <span class="btn-circle mb-2 p-1">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </a>
          <h3>Plataforma abierta</h3>
          <p>El Partido Digital dispone de herramientas online para lograr una mayor participación mediante el
            diálogo; también genera instancias presenciales para colaborar entre todos.</p>
          <a href="/plataforma" itemprop="url" class="btn">Conoce nuestra plataforma</a>
        </div>
        <div class="col-md-6 mb-2" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
          <a href="/documentacion" itemprop="url">
            <span class="btn-circle mb-2 p-1">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
          </a>
          <h3>Proceder abierto</h3>
          <p>Toda la documentación del Partido Digital a un click de distancia: nuestra carta orgánica, políticas de
            privacidad de los datos y términos de uso de la plataforma.</p>
          <a href="/documentacion" itemprop="url" class="btn">Conoce nuestros documentos</a>
        </div>
        <div class="col-md-6 mb-2" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
          <a href="/participacion" itemprop="url">
            <span class="btn-circle mb-2 p-1">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </span>
          </a>
          <h3>Más participación</h3>
          <p>No solo se va disponer de herramientas para lograr una mayor participación mediante el diálogo, sino
            también que habrán instancias presenciales para colaborar entre todos.</p>
          <a href="/participacion" itemprop="url" class="btn">Conoce como participar</a>
        </div>
      </div>
    </div>
  </div>
</section>