<header class="intro">
    <div class="overlay"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center mt-3">
                    <img class="img-fluid pt-5" src="https://recursos.partidodigital.org.uy/assets/img/logo_at_blanco.svg" width="200">
                    <p class="text-white">
                        Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.
                    </p>
                    <h4 class="text-white pt-3">VICEPRESIDENTE: Se cerró el periodo de postulación, ahora sigue el procedimiento como está <a href="/vicepresidente">aquí especificado.</a></h4>
                    <p>
                        <a href="/assets/docs/rendicion_cuentas_internas_PD2019.pdf" target="_blank" class="btn secondary" itemprop="url" title="Elecciones internas 2019">RENDICIÓN DE CUENTAS</a>
                        <a href="/afiliaciones" class="btn secondary" itemprop="url">AFILIATE</a>
                        <a href="/voluntariado" class="btn secondary" itemprop="url">SUMATE</a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="extra mb-2">
            <li class="social" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://partidodigital.org.uy/">
                <a itemprop="sameAs" href="https://www.facebook.com/PDigitalUy" target="_blank" title="Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.twitter.com/PDigitalUY" target="_blank" title="Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.instagram.com/PDigitalUy" target="_blank" title="Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://youtube.com/c/PartidoDigitalUy" target="_blank" title="YouTube">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.linkedin.com/company/partido-digital" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://t.me/PartidoDigital" target="_blank" title="Canal de Telegram">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://github.com/PartidoDigital" target="_blank" title="GitHub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
<!--<script src="/assets/js/canvas.js" type="text/javascript"></script>-->
