<header class="intro">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/img/pd_web_fast.mp4" type="video/mp4">
        <img src="assets/img/palacio_legislativo.jpg" />
    </video>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <img class="img-fluid" src="https://recursos.partidodigital.org.uy/assets/img/logo_original.svg">
                    <p class="intro-text">
                        Somos un partido político que busca mejorar la democracia aumentando la participación y
                        transparencia apoyándose en la tecnología.
                    </p>
                    <p>
                        <a href="/voluntariado" class="btn naranja" itemprop="url" style="margin-bottom: 3px;">SUMARME COMO VOLUNTARIO</a><br>
                        <a href="/afiliaciones" class="btn azul" itemprop="url">Afiliarme</a>
                        <a href="/donar" class="btn azul" itemprop="url" title="Comienza a ser parte del cambio.">Donar</a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="extra">
            <li class="social" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://partidodigital.org.uy/">
                <a itemprop="sameAs" href="https://www.facebook.com/PDigitalUy" target="_blank" title="Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.twitter.com/PDigitalUY" target="_blank" title="Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.instagram.com/PDigitalUy" target="_blank" title="Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://youtube.com/c/PartidoDigitalUy" target="_blank" title="YouTube">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.linkedin.com/company/partido-digital" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://t.me/PartidoDigital" target="_blank" title="Canal de Telegram">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://github.com/PartidoDigital" target="_blank" title="GitHub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
