<header class="intro">
    <div class="overlay"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center mt-3">
                    <img class="img-fluid pt-5" src="https://recursos.partidodigital.org.uy/assets/img/logo_at_blanco.svg" width="200">
                    <h1 class="text-white plain mt-xl-2">Muchas gracias.</h1>
                    <h4 class="text-white">Por medio de los votos que obtuvo el Partido Digital en las elecciones internas, ahora todos los uruguayos van a tener chance de participar en política. ¡Nos vemos en Octubre!</h4>
                    <p class="text-white">
                        Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.
                    </p>
                    <p>
                        <a href="/vicepresidente" class="btn secondary" itemprop="url">POSTULAR VICEPRESIDENTE</a>
                        <a href="/afiliaciones" class="btn secondary" itemprop="url">AFILIATE</a>
                        <a href="/voluntariado" class="btn secondary" itemprop="url">SUMATE</a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="extra mb-2">
            <li class="social" itemscope="" itemtype="http://schema.org/Organization">
                <link itemprop="url" href="https://partidodigital.org.uy/">
                <a itemprop="sameAs" href="https://www.facebook.com/PDigitalUy" target="_blank" title="Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.twitter.com/PDigitalUY" target="_blank" title="Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.instagram.com/PDigitalUy" target="_blank" title="Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://youtube.com/c/PartidoDigitalUy" target="_blank" title="YouTube">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://www.linkedin.com/company/partido-digital" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://t.me/PartidoDigital" target="_blank" title="Canal de Telegram">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                </a>
                <a itemprop="sameAs" href="https://github.com/PartidoDigital" target="_blank" title="GitHub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
<!--<script src="/assets/js/canvas.js" type="text/javascript"></script>-->
