<section id="participacion" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/colaborar.png" alt="" class="img-fluid" align="right" width="400" />
            <h2 class="texto-gradiente gradiente-naranja">Aumenta la Participación</h2>
            <h3>Vos sos la persona que mejor te representa</h3>
            <p><b>Solo vos conocés los problemas que te aquejan. ¡No necesitás que te representen!</b></p>
            <p>Los legisladores del Partido Digital presentarán los temas
                votados en nuestra plataforma online, a la que pueden acceder todos
                los uruguayos con credencial cívica válida. Podrás participar cuando quieras, donde quieras, ¡no solo una vez cada 5 años!</p>
            <p>Todas las ideas deben cumplir con lo establecido en la Constitución y
                tratados internacionales reconocidos por Uruguay. Para la
                elaboración del Programa de Gobierno invitamos a participar en la
                plataforma <a href="https://digo.mivoz.uy">mivoz.uy</a> para proponer y mejorar ideas. A continuación las estadísticas del uso de <a href="https://digo.mivoz.uy">mivoz.uy</a>:</p>
                <div class="row mb-3 px-3 list-stats">
                    <div class="col-lg-3 border text-center py-2">
                        <h4 class="m-0 p-0">Temas</h4>
                        <small class="text-muted">De todas las categorías</small>
                        <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="mivoz-temas">Cargando...</h3>
                    </div>
                    <div class="col-lg-3 border text-center py-2">
                        <h4 class="m-0 p-0">Participaciones</h4>
                        <small class="text-muted">De todos los usuarios</small>
                        <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="mivoz-participaciones">Cargando...</h3>
                    </div>
                    <div class="col-lg-3 border text-center py-2">
                        <h4 class="m-0 p-0">Usuarios</h4>
                        <small class="text-muted">Activos y no activos</small>
                        <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="mivoz-usuarios">Cargando...</h3>
                    </div>
                    <div class="col-lg-3 border text-center py-2">
                        <h4 class="m-0 p-0">Me gusta</h4>
                        <small class="text-muted">De todas las participaciones</small>
                        <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="mivoz-megusta">Cargando...</h3>
                    </div>
                </div>
            <a href="https://digo.mivoz.uy?ref=pd" class="btn">Ingresar a MiVoz</a>
            <a href="/participacion" class="btn secondary">Conoce más sobre participación</a>            
        </div>
    </div>
</section>
