<section id="participacion" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/participacion_icon.png" alt="" class="img-fluid" />
            <h2>Participación</h2>
            <h3>VOS TENÉS EL CONTROL SOBRE LOS POLÍTICOS</h3>
            <p><b>Vos sos la persona que mejor te representa, que mejor conoce tus problemas, que ya ha pensado algunas soluciones. <br>¡No necesitás que te representen!</b></p>
            <p>Cada representante del Partido Digital votará de acuerdo al resultado que salga en una herramienta online, al que pueden acceder todos los uruguayos habilitados para votar. Tendrás la oportunidad de votar en aquellas temas que te interesen y que te voto valga la pensa, ¡no solo una vez cada 5 años!</p>
            <a href="/participacion" class="btn">Conocer más</a>
        </div>
    </div>
</section>