<section id="participacion" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/participacion_icon.png" alt="" class="img-fluid" />
            <h2>Participación</h2>
            <h3>VOS TENÉS EL CONTROL SOBRE TUS REPRESENTANTES</h3>
            <p><b>Vos sos la persona que mejor te representa. Conocés tus problemas y ya has pensado algunas soluciones.<br>¡No necesitás que te representen!</b></p>
            <p>Los legisladores electos por el Partido Digital presentarán los temas votados en nuestra plataforma online, a la que pueden acceder todos los uruguayos habilitados para votar. Tendrás la oportunidad de participar en aquellos temas que te interesen
                y que tu voto tenga el impacto que se merece, ¡no solo una vez cada 5 años!</p>
            <p>Todas las ideas deben cumplir con los establecido en la Constitución y tratados internacionales reconocidos por Uruguay. Para la elaboración del Programa de Gobierno invitamos a participar en la plataforma MiVoz para proponer y mejorar ideas.</p>
            <a href="/participacion" class="btn">Conocer más</a>
            <a href="https://digo.mivoz.uy" class="btn">Ingresar a MiVoz</a>
        </div>
    </div>
</section>