<section id="preguntas" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-7">
            <h2 class="texto-gradiente texto-gradiente--gradiente-naranja">Preguntas Frecuentes</h2>
            <h3>Sabemos que somos innovadores, y eso genera preguntas.</h3>
            <p><b>Enterate de las preguntas que más hemos recibido y entiende mejor el Partido Digital.</b></p>
            <p>No dudes en contactarnos mediante el correo listado en la sección <a href="#contacto">contacto</a> por si te surgen más dudas que no esten consideradas en la lista de preguntas frecuentes; utiliza también las redes sociales listadas en el pié de esta página <a href="#abajo">aquí abajo</a> para evacuar tus preguntas.</p>
            <a href="/participacion" class="btn">Ver las Preguntas Frecuentes</a>
        </div>
        <div class="col-lg-5">
            <img src="assets/img/preguntas.png" alt="" class="img-fluid" />
        </div>
    </div>
</section>
    