<section id="preguntas" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="texto-gradiente gradiente-naranja">Preguntas Frecuentes</h2>
            <h3>Sabemos que somos innovadores, y eso genera preguntas.</h3>
            <p><b>Enterate de las preguntas que más hemos recibido y entendé mejor al Partido Digital.</b></p>
            <p>No dudes en escribirnos al correo listado en la sección <a href="#contacto">contacto</a> por si te surgen más dudas que no estén consideradas en la lista de preguntas frecuentes; usá también las redes sociales listadas en el pié de esta página para evacuar tus preguntas.</p>
            <div class="row">
                {% for pregvid in site.data.preguntas_vid %}
                <div class="col-lg-4">
                    <picture>
                        <source type="image/webp" srcset="https://i.ytimg.com/vi_webp/{{pregvid.id}}/sddefault.webp" data-toggle="modal" data-vid="{{pregvid.id}}" data-target="#myModal">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://img.youtube.com/vi/{{pregvid.id}}/sddefault.jpg" data-toggle="modal" data-vid="{{pregvid.id}}" data-target="#myModal" class="img-fluid mx-auto d-block video-btn pb-3" alt="">
                    </picture>
                    <i class='fa fa-5x fa-youtube-play position-absolute video-play' data-toggle="modal" data-vid="{{pregvid.id}}" data-target="#myModal" aria-hidden='true'></i>
                    <div class="carousel-caption d-none d-md-block m-0 p-0">
                      <h5 class="gradiente-naranja m-0 p-0">{{pregvid.titulo}}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <p class="text-center"><a href="/preguntas" class="btn">Ver otras preguntas frecuentes</a></p>
        </div>
    </div>
</section>
    