<section id="transparencia" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/transparencia.png" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-7">
            <h2 class="texto-gradiente texto-gradiente--gradiente-naranja">Aumenta la Transparencia</h2>
            <h3>Vos ves y controlás las finanzas públicas</h3>
            <p><b>El dinero de todos lo cuidamos entre todos, por eso todas las finanzas serán 100% transparentes, en serio, y empezamos dando el ejemplo.</b></p>
            <p>Todas las finanzas del Partido Digital y organismos públicos en los que participemos estarán siempre visibles en la web de forma completa y accesible.</p>
            <a href="/transparencia" class="btn">Conoce más sobre transparencia</a>
        </div>
    </div>
</section>
