<section id="transparencia" class="container content-section text-xs-center separador">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/transparencia_icon.png" alt="" class="img-fluid" />
            <h2>Transparencia</h2>
            <h3>VOS VES Y CONTROLÁS LAS FINANZAS PÚBLICAS</h3>
            <p><b>El dinero de todos lo cuidamos entre todos, por eso todas las finanzas serán 100% transparentes, en serio, y empezamos dando el ejemplo.</b></p>
            <p>Todas las finanzas del Partido Digital y orgnismos públicos en los que participemos estarán siempre visibles en la web de forma completa y accesible.</p>
            <a href="/finanzas" class="btn">Conocer más</a>
        </div>
    </div>
</section>