<section id="transparencia" class="container content-section text-xs-center">
    <div class="row">
        <div class="col-lg-5">
            <picture>
                <source type="image/webp" srcset="assets/img/transparencia_2x.webp">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/img/transparencia_2x.png" alt="" class="img-fluid" />
            </picture>
        </div>
        <div class="col-lg-7">
            <h2 class="texto-gradiente gradiente-naranja">Aumenta la Transparencia</h2>
            <h3>Vos ves y controlás las finanzas públicas</h3>
            <p><b>El dinero de todos lo cuidamos entre todos, por eso todas las finanzas serán 100% transparentes, en serio, y empezamos dando el ejemplo.</b></p>
            <p>Todas las finanzas del Partido Digital y organismos públicos en los que participemos estarán siempre visibles en la web de forma completa y accesible.</p>
            <div class="row mb-3 px-3 list-stats">
                <div class="col-lg-3 border text-center py-2">
                    <h4 class="m-0 p-0">Ingresos</h4>
                    <small class="text-muted">Pesos Uruguayos</small>
                    <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="finanzas-ingresos-uyu">Cargando...</h3>
                </div>
                <div class="col-lg-3 border text-center py-2">
                    <h4 class="m-0 p-0">Egresos</h4>
                    <small class="text-muted">Pesos Uruguayos</small>
                    <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="finanzas-egresos-uyu">Cargando...</h3>
                </div>
                <div class="col-lg-3 border text-center py-2">
                    <h4 class="m-0 p-0">Ingresos</h4>
                    <small class="text-muted">Dólares Americanos</small>
                    <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="finanzas-ingresos-usd">Cargando...</h3>
                </div>
                <div class="col-lg-3 border text-center py-2">
                    <h4 class="m-0 p-0">Egresos</h4>
                    <small class="text-muted">Dólares Américanos</small>
                    <h3 class="texto-gradiente gradiente-naranja-inverso mt-2 mb-0 loading" id="finanzas-egresos-usd">Cargando...</h3>
                </div>
            </div>
            <a href="/transparencia" class="btn">Conoce más sobre transparencia</a>
            <a href="/assets/docs/rendicion_cuentas_internas_PD2019.pdf" target="_blank" class="btn secondary" itemprop="url" title="Elecciones internas 2019">Rendición de Cuentas</a>
        </div>
    </div>
</section>
