<section id="contacto" class="container content-section text-xs-center">
  <div class="row">
      <div class="col-lg-6">
          <h2 class="texto-gradiente gradiente-naranja">Videos de interés</h2>
      </div>
  </div>
</section>
<div class="top-content" id="videos">
    <div class="container-fluid video-carousel p-0 m-0">
        {% for video in site.data.videos %}
        <div class="carousel-item">
            <picture>
                <source type="image/webp" srcset="https://i.ytimg.com/vi_webp/{{video.id}}/sddefault.webp" data-toggle="modal" data-vid="{{pregvid.id}}" data-target="#myModal">
                <img class="img-fluid mx-auto d-block video-btn" data-lazy="https://i3.ytimg.com/vi/{{video.id}}/hqdefault.jpg" data-toggle="modal" data-vid="{{video.id}}" data-target="#myModal" alt="">
            </picture>
            <i class='fa fa-5x fa-youtube-play position-absolute video-play' data-toggle="modal" data-vid="{{video.id}}" data-target="#myModal" aria-hidden='true'></i>
            <div class="carousel-caption m-0 p-0">
              <h5 class="gradiente-naranja m-0 p-0">{{video.titulo}}</h5>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

<!--Modal: Name-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src=""
            allowfullscreen></iframe>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Name-->

<script src="/assets/js/videos.js" type="text/javascript"></script>
