---
layout: default
title: Inicio
---
<!-- Introducción -->
{% include secciones/_introduccion.html %}
<!-- Fin Introducción -->

<!-- Banner -->
{% comment %}
{% include secciones/_banner.html %}
{% endcomment %}
<!-- Fin Banner -->

<!-- Participación -->
{% include secciones/_participacion.html %}
<!-- Fin Participación -->

<!-- Transparencia -->
{% include secciones/_transparencia.html %}
<!-- Fin Transparencia -->

<!-- Ideas -->
{% include secciones/_ideas.html %}
<!-- Fin Ideas -->

<!-- Equipo -->
{% include secciones/_equipo.html %}
<!-- Fin Equipo -->

<!-- Preguntas -->
{% include secciones/_preguntas.html %}
<!-- Fin Preguntas -->

<!-- Contacto -->
{% include secciones/_contacto.html %}
<!-- Fin Contacto -->

<!-- Popup -->
{% include _popup.html %}
<!-- Fin Popup -->
