<div>
  <div class="boton-donar">
    <img alt="Tarjetas de crédito" src="assets/img/boton_tarjetas.png" class="img-fluid"/>
    <div class="wrapper">
      <div class="content">
        <a href='http://mpago.la/1yUc' target="_blank" title="Dona $400 con tarjetas de crédito">$400</a>
        <a href='http://mpago.la/CZEe'  target="_blank" title="Dona $600 con tarjetas de crédito">$600</a>
        <a href='http://mpago.la/w4z6' target="_blank" title="Dona $1000 con tarjetas de crédito">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Paypal" src="assets/img/boton_paypal.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G4CWQE84MQWCC' target="_blank" title="Dona $400 con Paypal">$400</a>
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WKBJFF23ABUMJ' target="_blank" title="Dona $600 con Paypal">$600</a>
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2ATYUHU8AXSMN' target="_blank" title="Dona $1000 con Paypal">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Banco República" src="assets/img/boton_brou.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10224' target="_blank" title="Dona $400 con Banco República">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10225' target="_blank" title="Dona $600 con Banco República">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10226' target="_blank" title="Dona $1000 con Banco República">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Banco Santander" src="assets/img/boton_santander.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10218' target="_blank" title="Dona $400 con Banco Santander">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10219' target="_blank" title="Dona $600 con Banco Santander">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10220' target="_blank" title="Dona $1000 con Banco Santander">$1000</a>
      </div>
    </div>
  </div>
</div>

<div>

  <div class="boton-donar">
    <img alt="Banco Itaú" src="assets/img/boton_itau.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10227' target="_blank" title="Dona $400 con Banco Itaú">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10228' target="_blank" title="Dona $600 con Banco Itaú">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10229' target="_blank" title="Dona $1000 con Banco Itaú">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="BBVA" src="assets/img/boton_bbva.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10221' target="_blank" title="Dona $400 con BBVA">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10222' target="_blank" title="Dona $600 con BBVA">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10223' target="_blank" title="Dona $1000 con BBVA">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Banred" src="assets/img/boton_banred.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10232' target="_blank" title="Dona $400 con Banred">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10233' target="_blank" title="Dona $600 con Banred">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10234' target="_blank" title="Dona $1000 con Banred">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Creditel" src="assets/img/boton_creditel.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10230' target="_blank" title="Dona $400 con Creditel">$400</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10231' target="_blank" title="Dona $600 con Creditel">$600</a>
        <a href='https://colectate.com.uy/colecta/participar.php?ID=10231' target="_blank" title="Dona $1000 con Creditel">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Abitab" src="assets/img/boton_abitab.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='http://mpago.la/DfY1' target="_blank" title="Dona $400 con Abitab">$400</a>
        <a href='http://mpago.la/zNEj' target="_blank" title="Dona $600 con Abitab">$600</a>
        <a href='http://mpago.la/smTU' target="_blank" title="Dona $1000 con Abitab">$1000</a>
      </div>
    </div>
  </div>

  <div class="boton-donar">
    <img alt="Redpagos" src="assets/img/boton_redpagos.png"/>
    <div class="wrapper">
      <div class="content">
        <a href='http://mpago.la/DfY1' target="_blank" title="Dona $400 con Redpagos">$400</a>
        <a href='http://mpago.la/zNEj' target="_blank" title="Dona $600 con Redpagos">$600</a>
        <a href='http://mpago.la/smTU' target="_blank" title="Dona $1000 con Redpagos">$1000</a>
      </div>
    </div>
  </div>
</div>