<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.">
<meta name="author" content="Partido Digital">

<meta property="og:title" content="Partido Digital del Uruguay"/>
<meta property="og:image" content="https://recursos.partidodigital.org.uy/assets/img/presentacion.jpg"/>
<meta property="og:site_name" content="Sitio web oficial del Partido Digital del Uruguay"/>
<meta property="og:description" content="Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología."/>
<meta property="og:url" content="https://partidodigital.org.uy" />

<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-32x32.png" sizes="32x32">
<title itemprop='name'>Partido Digital del Uruguay</title>

<!-- Google Meta tags -->
<meta name="google" content="nositelinkssearchbox" />
<link rel="canonical" href="https://partidodigital.org.uy/" itemprop="url">
<script type="application/ld+json">
      {
          "@context": "http://schema.org/",
          "@type": "Organization",
          "url": "https://partidodigital.org.uy/",
          "logo": "https://partidodigital.org.uy/img/logo_text.svg"
      }
</script>

<script>
	window.pd = {};
	window.pd.layout = '{{page.layout}}';
</script>

<!-- Google Analytics Tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.analytics}}', 'auto');
  ga('send', 'pageview');
</script>

<!-- CSS de Bootstrap  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

<!-- Fuentes -->
<link rel="stylesheet" href="https://use.fontawesome.com/ca11ca7a8a.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i">

<!-- CSS propios -->
<link rel="stylesheet" href="/assets/styles/tema.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '{{site.pixel_id}}'); // Insert your pixel ID here.
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
							 src="https://www.facebook.com/tr?id=1560124247567378&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','{{site.twitter_pixel_id}}');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
