<footer id="abajo">
  <div class="container">
      <div class="row">
          <div class="col-sm-3 d-none d-sm-block">
              <h2 class="logo"><img class="img-fluid" src="https://recursos.partidodigital.org.uy/assets/img/logo_vertical_blanco.svg" style="width: 8rem;" alt="" /></h2>
          </div>
          <div class="col-sm-2 mt-3 d-none d-sm-block">
              <ul>
                  <li><a class="footer-link" href="/afiliaciones">Afiliaciones</a></li>
                  <li><a class="footer-link" href="/documentacion">Documentación</a></li>
                  <li><a class="footer-link" href="/listas">Listas Octubre</a></li>
              </ul>
          </div>
          <div class="col-sm-2 mt-3 d-none d-sm-block">
              <ul>
                  <li><a class="footer-link" href="/prensa">Kit de Prensa</a></li>   
                  <li><a class="footer-link" href="/plataforma">Plataforma</a></li>
                  <li><a class="footer-link" href="/programa">Programa</a></li>
              </ul>
          </div>
          <div class="col-sm-2 mt-3 d-none d-sm-block">
              <ul>
                  <li><a class="footer-link" href="/vicepresidente">Vicepresidente</a></li>
                  <li><a class="footer-link" href="https://mivoz.uy">MiVoz</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <div class="social-networks">
                    <a itemprop="sameAs" href="https://www.facebook.com/PDigitalUy" target="_blank" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a itemprop="sameAs" href="https://www.twitter.com/PDigitalUY" target="_blank" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a itemprop="sameAs" href="https://www.instagram.com/PDigitalUy" target="_blank" title="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a itemprop="sameAs" href="https://www.youtube.com/channel/UCuqFyel1qh0E9w_1vFXBk0Q" target="_blank" title="YouTube">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a><br>
                    <a itemprop="sameAs" href="https://www.linkedin.com/company/partido-digital" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a itemprop="sameAs" href="https://t.me/PartidoDigital" target="_blank" title="Canal de Telegram">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                    <a itemprop="sameAs" href="https://github.com/PartidoDigital" target="_blank" title="GitHub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
              </div>
          </div>
      </div>
  </div>
</footer>
