<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="{% if page.og_description != nil %}{{page.og_description}}{% else %}Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.{% endif %}">
<meta name="author" content="Partido Digital">

<meta property="og:title" content="{% if page.og_title != nil %}{{page.og_title}}{% else %}{% if page.title %}{{page.title}}{% endif %}{% endif %} - Partido Digital del Uruguay"/>
<meta property="og:image" content="{% if page.og_image != nil %}{{page.og_image}}{% else %}https://recursos.partidodigital.org.uy/assets/img/presentacion.jpg{% endif %}"/>
<meta property="og:site_name" content="{% if page.og_site_name != nil %}{{page.og_site_name}}{% else %}Sitio web oficial del Partido Digital del Uruguay{% endif %}"/>
<meta property="og:description" content="{% if page.og_description != nil %}{{page.og_description}}{% else %}Somos un partido político que busca mejorar la democracia aumentando la participación y transparencia apoyándose en la tecnología.{% endif %}"/>
<meta property="og:url" content="{% if page.og_url != nil %}{{page.og_url}}{% else %}https://partidodigital.org.uy{% endif %}" />

<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-32x32.png" sizes="32x32">
<title itemprop='name'>Partido Digital del Uruguay</title>

<!-- Google Meta tags -->
<meta name="google" content="nositelinkssearchbox" />
<link rel="canonical" href="https://partidodigital.org.uy/" itemprop="url">
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Organization",
  "url": "https://partidodigital.org.uy/",
  "logo": "https://recursos.partidodigital.org.uy/assets/img/logo_horizontal_naranja.png"
}
</script>

<script>
window.pd = {};
window.pd.layout = '{{page.layout}}';
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{site.tagmanager}}');</script>
<!-- End Google Tag Manager -->

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{site.ga}}', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- CSS de Bootstrap  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Fuentes -->
<link rel="stylesheet" href="https://use.fontawesome.com/5c1e91d538.css"> <!-- Font Awesome v4.7.0 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i">
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<!-- CSS propios -->
<link rel="stylesheet" href="/assets/styles/tema.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="application/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->