<nav class="navbar navbar-light navbar-expand-md justify-content-center fixed-top {%if page.layout == 'pagina' %} show-nav {% else %} sps {% endif %}" style="z-index: 99;">
    <a class="border-0 navbar-brand float-left position-absolute" style="left: 1rem; top: 0.5rem;" href="{% if page.layout == 'pagina' %}/{%else%}#arriba{% endif %}">
        <img src="https://recursos.partidodigital.org.uy/assets/img/logo_horizontal_negro.svg" width="200">
    </a>
    <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% else %}#{% endif %}participacion">Participación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% else %}#{% endif %}transparencia">Transparencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% else %}#{% endif %}ideas">Ideas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% else %}#{% endif %}equipo">Equipo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% else %}#{% endif %}preguntas">Preguntas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if page.layout == 'pagina' %}/{% endif %}#contacto">Contacto</a>
            </li>
            <li class="nav-item d-sm-none my-2">
                <a class="border-0" href="https://digo.mivoz.uy">
                    <img width="80" src="https://mivoz.uy/img/logos/LogoMiVoz.png" alt="MiVoz" />
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Más</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/afiliaciones">Afiliaciones</a>
                    <a class="dropdown-item" href="/documentacion">Documentación</a>
                    <a class="dropdown-item" href="/plataforma">Plataforma</a>
                    <a class="dropdown-item" href="/prensa">Kit de Prensa</a>
                    <a class="dropdown-item" href="/listas">Pedí tu lista</a>
                </div>
            </li>
        </ul>
        <div class="nav navbar-nav position-absolute d-none d-lg-block" style="right: 1rem; top: 1rem;">
            <a class="border-0" href="https://digo.mivoz.uy">
                <img width="80" src="https://mivoz.uy/img/logos/LogoMiVoz.png" alt="MiVoz" />
            </a>
        </div>
    </div>
</nav>