<div class="panel panel-default" id="popup">
  <!--<a href="#popup" class="close" data-dismiss="alert" aria-label="close" id="hide-popup">×</a>-->
  <p>Comienza ahora a participar:</p>
  <a class="btn" href="#sumate">Sumate <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  <a class="btn" href="{{site.acceso_url}}">Proponé tu idea <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  <a class="btn" href="/finanzas">Doná <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>