<!-- Begin MailChimp Signup Form -->
<div class="mb-2">
    <form id="registro_web" class="registro_form">
        <input type="email" placeholder="Correo electrónico" name="email" class="required email" required="">
        <input type="text" placeholder="Nombre" name="nombre" class="" required="">
        <input type="text" placeholder="Apellido" name="apellido" class="" required="">
        <input type="tel" placeholder="Teléfono" name="telefono" class="" required="">
        <input type="text" placeholder="Ciudad" name="ciudad" class="" required="">
        <input type="text" placeholder="Dirección donde podemos pasar para que firmes" name="direccion" class="" required="">
        <input type="text" placeholder="Horario en el que podemos pasar" name="horario" class="" required="" style="border-bottom: 1px solid;">
        <input type="button" value="Enviar información" name="" class="button enviar_info">
    </form>
</div>
