<!-- Begin MailChimp Signup Form -->
<div class="mb-2">
    <form id="registro_web">
        <input type="email" placeholder="Correo electrónico" name="email" class="required email" required>
        <input type="text" placeholder="Nombre" name="nombre" class="" required>
        <input type="text" placeholder="Apellido" name="apellido" class="" required>
        <input type="tel" placeholder="Teléfono" name="telefono" class="" style="border-bottom: 1px solid;" required>
        <input type="submit" value="¡Sumarme!" name="" id="submit" class="button">
    </form>
</div>