<section id="tabs" class="project-tab">
  <nav>
      <div class="nav nav-tabs nav-fill border-bottom-0" id="nav-tab" role="tablist">
          <a class="tab-link nav-item nav-link active" id="montevideo-tab" data-toggle="tab" href="#montevideo" role="tab" aria-controls="canelones" aria-selected="true">Montevideo</a>
          <a class="tab-link nav-item nav-link" id="canelones-tab" data-toggle="tab" href="#canelones" role="tab" aria-controls="canelones" aria-selected="false">Canelones</a>
          <a class="tab-link nav-item nav-link" id="maldonado-tab" data-toggle="tab" href="#maldonado" role="tab" aria-controls="maldonado" aria-selected="false">Maldonado</a>
      </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="montevideo" role="tabpanel" aria-labelledby="montevideo-tab">
        <table class="table table-striped table-bordered mb-3 mt-0 mx-0 p-0">
          <thead>
            <tr>
              <th scope="col">Lugar / Contacto</th>
              <th scope="col">Localidad / Barrio</th>
              <th scope="col">Dirección</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Sede del Partido Digital</th>
              <td>Montevideo / Centro</td>
              <td>Brandzen 2046 esq. Martín C. Martinez</td>
              <td>Todos los días de 10 a 20Hs</td>
            </tr>
            <tr>
              <th scope="row">Peluquería y Barbería Ruben</th>
              <td>Montevideo / Centro</td>
              <td>18 de Julio 1268 Galeria del Virrey Local 20</td>
              <td>L a V de 10 a 20 hs y Sabado de 9:30 a 14 hs</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Montevideo / Ciudad Vieja</td>
              <td>Zabala 1542 piso 3 Oficina 26</td>
              <td>Lunes a Viernes de 9 a 19Hs</td>
            </tr>
            <tr>
              <th scope="row">Rodrigo<br>(cel: 094 691 696)</th>
              <td>Montevideo / Ciudad Vieja</td>
              <td>25 de Mayo 491 esq. Treinta y Tres (Torre 58)</td>
              <td>Lunes a Viernes de 9 a 18Hs</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Montevideo / Tres Cruces</td>
              <td>Bvr. Artigas 1920 (entre Goes y Miguelete)</td>
              <td>Lunes a Viernes de 9 a 19Hs</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Montevideo / Unión</td>
              <td>Bvr. Batlle y Ordoñez 2612 (entre Morelli y Aguapey)</td>
              <td>Lunes a Viernes de 10 a 18Hs</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Montevideo / Parque Batlle</td>
              <td>Santiago Gadea 3595 esq. Magariños Cervantes</td>
              <td>Lunes a Viernes de 10 a 16Hs</td>
            </tr>
            <tr>
              <th scope="row">Gustavo<br>(cel: 095 053 262)</th>
              <td>Montevideo / Malvin, Malvin Norte, Buceo, Unión, La Blanqueada</td>
              <td>Coordinar via cel</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Carla<br>(cel: 099 698 434)</th>
              <td>Cordón / Parque Rodó</td>
              <td>Coordinar via cel</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">cel: 099 291 100</th>
              <td>Prado</td>
              <td>Caigua 1323</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="canelones" role="tabpanel" aria-labelledby="canelones-tab">
        <table class="table table-striped table-bordered mb-3 mt-0 mx-0 p-0">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col" width="15%">Celular</th>
                <th scope="col">Ciudad/Localidad</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Dario</th>
                <td>099 336 444</td>
                <td>Canelones</td>
                <td>Coordinar al cel</td>
              </tr>
              <tr>
                <th scope="row">Mathias</th>
                <td>099 403 136</td>
                <td>Araminda</td>
                <td>Coordinar al cel</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Salinas</td>
                <td>Av. Julieta entre Interbalnearia y Nutria. Galeria Paseo Julieta local 3. Arco de Salinas. Lunes a Viernes de 10 a 20Hs</td>
              </tr>
              <tr>
                <th scope="row">Gabriela</th>
                <td>094 125 793</td>
                <td>Zona rural, cerca Las Piedras</td>
                <td>Ancap Beittone, ruta 36 y 48</td>
              </tr>
              <tr>
                <th scope="row">Carmen</th>
                <td>097 984 894</td>
                <td>Balneario Santa Ana</td>
                <td>Calle 17 entre 23 y central (ALMACEN)</td>
              </tr>
              <tr>
                <th scope="row">Juan</th>
                <td>092 036 057</td>
                <td>Progreso</td>
                <td>Las Robainas 127, Villa Alegría</td>
              </tr>
              <tr>
                <th scope="row">Miguel Angel</th>
                <td>091 066 416</td>
                <td>Parque del Plata</td>
                <td>Calle 9 y J (coordinar al cel)</td>
              </tr>
              <tr>
                <th scope="row">Alex</th>
                <td>091 053 198</td>
                <td>Medanos de Solymar</td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="maldonado" role="tabpanel" aria-labelledby="maldonado-tab">
        <table class="table table-striped table-bordered mb-3 mt-0 mx-0 p-0">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Ciudad/Localidad</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Rafael</th>
                <td>095 761 997</td>
                <td>Balneario BsAs (y entregas en otros puntos coordinando)</td>
                <td>Calle 28 esquina 28, frente a Mar de Fondo (a 1 cuadra de la playa)</td>
              </tr>
              <tr>
                <th scope="row">Mario</th>
                <td>094 686 048</td>
                <td>Campus</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Nelly</th>
                <td>098 929 462</td>
                <td>San Carlos</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Raquel</th>
                <td>091 756 403</td>
                <td>La Barra</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Mercedes</th>
                <td>091 245 241</td>
                <td>Punta del Este</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Belén</th>
                <td>091 998 961</td>
                <td>Piriapolis</td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</section>

Otras localidades:
 - **Durazno, Durazno:** Arrospide 382
 - William (cel: 099 543 437) en **Flores, Trinidad**
 - **Florida, Florida:** Aparicio Saravia 374 / 205
 - **San José, San José de Mayo:** Ciganda 478 (cibercafé)
 - Vicente (cel: 092 151 517) en **Salto**: Rincón 1750
 - Ramón (cel: 099 397 451) en **Paysandú**
 - Raúl (cel: 092 782 135) en **Río Negro, Fray Bentos**
 - Santiago (cel: 094 463 455) en **Cerro largo, Melo (afueras):** Canuta Mutiazabal 1368
 - **Rivera, Pueblo Paso Hospital**: Establecimiento "Don Juvenal" (Durante el día)
 - **Río Negro, Soriano, Mercedes:** Luis Ramirez Viv. 9 Las Burbujas (cel: 099 684 627)
 - **Río Negro, Soriano, Mercedes:** 19 de Abril 176 (cel: 099 513 623)
 - Diego (cel: 098 505 257) en **Treinta y Tres**
 - Fabian (cel: 093 330 475) en **Lavalleja, Minas**
 - Sandra (cel: 099 836 385) en **Tacuarembó**: Michelini 289
 - Otras zonas y localidades, contacta al celular del Partido Digital: 093 855 556
