
**Montevideo:**
 - Centro: Sede del Partido Digital, Brandzen 2046 esq. Martín C. Martinez, Todos los días de 10 a 20hs
 - Ciudad Vieja: Zabala 1542 piso 3 Oficina 26, Lunes a Viernes de 9 a 19hs
 - Ciudad Vieja: 25 de Mayo 491 esq. Treinta y Tres (Torre 58), Lunes a Viernes de 9 a 18hs, Rodrigo (cel: 094 691 696)
 - Tres Cruces: Bvr. Artigas 1920 (entre Goes y Miguelete), Lunes a Viernes de 9 a 19hs
 - Unión: Bvr. Batlle y Ordoñez 2612 (entre Morelli y Aguapey), Lunes a Viernes de 10 a 18hs
 - Parque Batlle: Santiago Gadea 3595 esq. Magariños Cervantes, Lunes a Viernes de 10 a 16hs
 - Malvin, Malvin Norte, Buceo, Unión, La Blanqueada: Coordinar vía cel, Gustavo (cel: 095 053 262)
 - Cordón, Parque Rodó: Coordinar vía cel, Carla (cel: 099 698 434)
 - Prado: Caigua 1323, cel: 099 291 100

 **Canelones:**
 - Canelones: Coordinar vía cel, Dario (cel: 099 336 444)
 - Araminda: Coordinar vía cel, Mathias (cel: 099 403 136)
 - Salinas: Av. Julieta entre Interbalnearia y Nutria. Galeria Paseo Julieta local 3. Arco de Salinas. Lunes a Viernes de 10 a 20hs
 - Zona rural, cerca Las Piedras: Ancap Beittone, ruta 36 y 48, Gabriela (cel: 094 125 793)
 - Balneario Santa Ana: Calle 17 entre 23 y central (ALMACEN), Carmen (cel: 097 984 894)
 - Progreso: Las Robainas 127, Villa Alegría, Juan (cel: 092 036 057)
 - Parque del Plata: Calle 9 y J, Coordinar vía cel, Miguel Ángel (cel: 091 066 416)
 - Medanos de Solymar: Coordinar vía cel, Alex (cel: 091 053 198)

 **Maldonado:**
 - Balneario BsAs (y entregas en otros puntos coordinando), Calle 28 esquina 28, frente a Mar de Fondo (a 1 cuadra de la playa), Rafael (cel: 095 761 997)
 - Campus: Coordinar vía cel, Mario (cel: 094 686 048)
 - San Carlos: Coordinar vía cel, Nelly (cel: 098 929 462)
 - La Barra: Coordinar vía cel, Raquel (cel: 091 756 403)
 - Punta del Este: Coordinar vía cal, Mercedes (cel: 091 245 241)
 - Piriapolis: Coordinar vía cel, Belén (cel: 091 998 961)

**Salto:**
 - Rincón 1750, Vicente (cel: 092 151 517)

**Paysandú**:
 - Coordinar vía cel, Ramón (cel: 099 397 451)

**Río Negro:**
 - Fray Bentos: Coordinar vía cel, Raúl (cel: 092 782 135)

**Durazno:**
 - Arrospide 382

**Flores:**
 - Trinidad: Coordinar vía cel, William (cel: 099 543 437)

**Florida:**
- Aparicio Saravia 374 / 205

**San José:**
 - San José de Mayo: Ciganda 478 (cibercafé)

**Rocha:**
 - La Paloma: Coordinar vía cel, Cecilia (cel: 099 162 632)

**Cerro Largo:**
 - Melo (afueras): Canuta Mutiazabal 1368, Santiago (cel: 094 463 455)

**Rivera:**
 - Pueblo Paso Hospital: Paso Hospital, establecimiento "Don Juvenal" (Durante el día)
 - Coordinar vía cel, Garil (cel: 092 080 790)

**Soriano:**
 - Mercedes: Luis Ramirez Viv. 9 Las Burbujas, cel: 099 684 627
 - Mercedes: 19 de Abril 176, cel: 099 513 623

**Treinta y Tres:**
 - Coordinar vía cel, Diego (cel: 098 505 257)

**Lavalleja:**
 - Minas: Coordinar vía cel, Fabian (cel: 093 330 475)

**Tacuarembó:**
 - Michelini 289, Coordinar vía cel, Sandra (cel: 099 836 385)
 - Ciudad: Coordinar vía cel, Maria (cel: 094 851 621)

**Colonia del Sacramento:**
 - Coordinar vía cel, Santiago (cel: 098 365 370)

**Artigas:**
 - Ciudad: Coordinar vía cel, Masoller (cel: 091 414 952)
 - Ciudad: Coordinar vía cel, Ariel (cel: 098 263 518)

**Otras zonas no listadas:**
 - Coordinar vía celular del Partido Digital 093 855 556
