<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup { background:transparent; clear:left; font-size:14px; }
    select, input[type="text"], input[type="email"], input[type="tel"], input[type="date"],input[type="number"] { border: 2px solid #FFFFFF; background-color: #fff; }
    #mc_embed_signup form { padding: 0; }
    #mc_embed_signup .mc-field-group { width: 100%; }
    #mc_embed_signup .mc-field-group.input-group input { height: 15px; margin-right: 10px; }
    #mc-embedded-subscribe { margin: 0; border-color: #f37021 !important; }
    #mc-embedded-subscribe:hover { color: #f37021; }
    #mc_embed_signup input:focus, #mc_embed_signup select:focus { border-color: #f37021; }
    #mc_embed_signup .asterisk { color: #f37021; }
    #mc_embed_signup .indicates-required { margin-right: 0; }
    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error { background-color: #000000; color: #f37021; }
	#mc_embed_signup input[type="button"] { background-color: #f37021; color: #fff; } 
	#mc_embed_signup .mc-field-group select,
	#mc_embed_signup .mc-field-group input[type="date"] {
		display: block;
		width: 100%;
		padding: 8px 0;
		text-indent: 1%;
		height: 50px;
	}
	#mc_embed_signup select {
		border: 1px solid #ABB0B2;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
</style>
<div id="mc_embed_signup">
	<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate id="volun">
		<div id="mc_embed_signup_scroll">
			<div class="indicates-required">
				Todos los campos son obligatorios.
			</div>
			<div class="mc-field-group">
				<label for="mce-NAME">Nombre</label>
				<input type="text" value="" name="nombre" class="required" id="mce-NAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-NAME">Apellido</label>
				<input type="text" value="" name="apellido" class="required" id="mce-NAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Correo electrónico</label>
				<input type="email" value="" name="email" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group size1of2">
				<label for="mce-CELULAR">Celular</label>
				<input type="tel" name="celular" class="required" value="" id="mce-CELULAR">
			</div>
			<div class="mc-field-group">
				<label for="mce-DEPARTAMENTO">Departamento</label>
				<select type="text" value="" name="departamento1" class="required" id="mce-DEPARTAENTO">
					<option value="" selected>¿En dónde vives?</option>
					<option value="Artigas">Artigas</option>
					<option value="Canelones">Canelones</option>                    
					<option value="Cerro Largo">Cerro Largo</option>                    
					<option value="Colonia">Colonia</option>                    
					<option value="Durazno">Durazno</option>                    
					<option value="Flores">Flores</option>                    
					<option value="Florida">Florida</option>                    
					<option value="Lavalleja">Lavalleja</option>                    
					<option value="Maldonado">Maldonado</option>                    
					<option value="Montevideo">Montevideo</option>                    
					<option value="Paysandú">Paysandú</option>                    
					<option value="Río Negro">Río Negro</option>                    
					<option value="Rivera">Rivera</option>                    
					<option value="Rocha">Rocha</option>                    
					<option value="Salto">Salto</option>                    
					<option value="San José">San José</option>                    
					<option value="Soriano">Soriano</option>                    
					<option value="Tacuarembó">Tacuarembó</option>                    
					<option value="Treinta y Tres">Treinta y Tres</option>
				</select>
			</div>
			<div class="mc-field-group">
				<label for="mce-FECHANACIMIENTO">Fecha de Nacimiento</label>
				<input type="date" value="" name="fechanacimiento" class="required" id="mce-FECHANACIMIENTO">
			</div>
            <div class="mc-field-group" style="padding-bottom: 0;">
				<label>¿Qué te gusta hacer? Marca todas las opciones que quieras.</label>
				<div class="mc-field-group checkbox">
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol1" name="mauticform[voluntario][]" type="checkbox" value="actividades">
    			        <label for="vol1">Organizar actividades</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol2" name="mauticform[voluntario][]" type="checkbox" value="liderar">
    			        <label for="vol2">Liderar equipos</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol3" name="mauticform[voluntario][]" type="checkbox" value="hablar">
    			        <label for="vol3">Hablar con gente</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol4" name="mauticform[voluntario][]" type="checkbox" value="propuestas">
    			        <label for="vol4">Investigar y mejorar propuestas</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol5" name="mauticform[voluntario][]" type="checkbox" value="expertise">
    			        <label for="vol5">Asesorar en tu área de expertise</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol6" name="mauticform[voluntario][]" type="checkbox" value="comunicar">
    			        <label for="vol6">Comunicar</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol7" name="mauticform[voluntario][]" type="checkbox" value="diseñar">
    			        <label for="vol7">Diseñar</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol8" name="mauticform[voluntario][]" type="checkbox" value="programar">
    			        <label for="vol8">Programar</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol9" name="mauticform[voluntario][]" type="checkbox" value="fondos">
    			        <label for="vol9">Conseguir fondos</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol10" name="mauticform[voluntario][]" type="checkbox" value="finanzas">
    			        <label for="vol10">Controlar finanzas</label>
                    </div>
                    <div class="mc-field-group">
				        <input class="styled-checkbox" id="vol11" name="mauticform[voluntario][]" type="checkbox" value="proyectos">
    			        <label for="vol11">Ejecutar proyectos</label>
                    </div>
                    <div class="mc-field-group" style="padding-bottom: 0; min-height: 20px;">
				        <input class="styled-checkbox" id="vol12" name="mauticform[voluntario][]" type="checkbox" value="todo">
    			        <label for="vol12">¡Lo que sea!</label>
                    </div>
			</div>
			</div>
			<div class="clear">
				<input name="sumarme" type="button" id="sumarme" value="SUMARME" class="action btn">
			</div>
		</div>
	</form>
</div>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.js" crossorigin="anonymous"></script>
<script type='text/javascript' src='assets/js/voluntariado.js'></script>