<div id="mc_embed_signup">
	<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate id="volun">
		<div id="mc_embed_signup_scroll">
			<div class="indicates-required">
				Todos los campos son obligatorios.
			</div>
			<div class="mc-field-group">
				<label for="mce-NAME">Nombre</label>
				<input type="text" value="" name="nombre" class="required" id="mce-NAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-NAME">Apellido</label>
				<input type="text" value="" name="apellido" class="required" id="mce-NAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Correo electrónico</label>
				<input type="email" value="" name="email" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group size1of2">
				<label for="mce-CELULAR">Celular</label>
				<input type="tel" name="celular" class="required" value="" id="mce-CELULAR">
			</div>
			<div class="mc-field-group">
				<label for="mce-DEPARTAMENTO">Departamento</label>
				<select type="text" value="" name="departamento1" class="required" id="mce-DEPARTAENTO">
					<option value="" selected>Lugar de residencia</option>
					<option value="Artigas">Artigas</option>
					<option value="Canelones">Canelones</option>                    
					<option value="Cerro Largo">Cerro Largo</option>                    
					<option value="Colonia">Colonia</option>                    
					<option value="Durazno">Durazno</option>                    
					<option value="Flores">Flores</option>                    
					<option value="Florida">Florida</option>                    
					<option value="Lavalleja">Lavalleja</option>                    
					<option value="Maldonado">Maldonado</option>                    
					<option value="Montevideo">Montevideo</option>                    
					<option value="Paysandú">Paysandú</option>                    
					<option value="Río Negro">Río Negro</option>                    
					<option value="Rivera">Rivera</option>                    
					<option value="Rocha">Rocha</option>                    
					<option value="Salto">Salto</option>                    
					<option value="San José">San José</option>                    
					<option value="Soriano">Soriano</option>                    
					<option value="Tacuarembó">Tacuarembó</option>                    
					<option value="Treinta y Tres">Treinta y Tres</option>
				</select>
			</div>
			<div class="mc-field-group">
				<label for="mce-FECHANACIMIENTO">Fecha de Nacimiento</label>
				<input type="date" value="" name="fechanacimiento" class="required" id="mce-FECHANACIMIENTO">
			</div>
			<div class="clear">
				<input name="sumarme" type="button" id="sumarme" value="Sumarme" class="action btn">
			</div>
		</div>
	</form>
</div>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.js" crossorigin="anonymous"></script>
<script type='text/javascript' src='assets/js/voluntariado.js'></script>
