---
---

@import "variables";
@import "mixins";
@import "media";

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    background-color: #ececec;
    /*background-image: url(../img/bg.jpg);
    background-size: cover;*/

    &.inverted-background {
        background-image: none;
        background-color: $naranja_pd;
    }

    &.pagina-layout {
        p {
            padding: 0 0 1rem;
            margin: 0;
        }

        .content-section ul {
            font-size: 18px;
        }

        .navbar-custom {
            a {
                text-decoration: none;
            }
        }

        a {
            text-decoration: underline;
        }

        h1:not(.plain) {
            padding: 1rem 2.5rem;
            margin: 0;

            &:before {
                content: '';
                position: absolute;
                top: 1rem;
                left: 1rem;
                height: 3rem;
                border-right: 8px solid $naranja_pd;
                -webkit-transform-origin: 100% 100%;
                -ms-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
                -webkit-transform: skewX(-25deg);
                -ms-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }

            &:after {
                content: '';
                position: absolute;
                top: 1rem;
                right: auto;
                height: 3rem;
                margin-left: 0.5rem;
                border-right: 8px solid $naranja_pd;
                -webkit-transform-origin: 100% 100%;
                -ms-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
                -webkit-transform: skewX(-25deg);
                -ms-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
        }

        h2, h3, h4, h5, h6 {
            padding: 1rem 0;
            margin: 0;

            &.card-title, &.card-subtitle {
                padding: 0;
            }
        }
        
        .card.card-inverse {
            background-color: #000;
        }

        .resaltar {
            background-color: rgba($naranja_pd, 0.3);
            padding-left: 1rem;
        }
    }
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $naranja_pd;
}

h1 {
    text-transform: uppercase;
}

p {
    margin: 25px 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $azul_pd!important;;
}

.text-secondary {
    color: $naranja_pd!important;
}

table {
    margin: 10px 10px 20px;
    border: 2px solid white;
    width: 100%;

    thead tr {
        border-bottom: 2px solid white;
    }

    td, th {
        padding: 0 5px;
        border-right: 2px solid white;
    }
}

blockquote {
    border-left: 2px solid lightgrey;
    margin: 0 10px;
    color: lightgrey;
}

.banner {
    display: flex;
    align-items: center;
    background-color: grey;
    color: white;
    margin: 0 0.5em;
}

.alert {
    &.alert-info{
        background-color: #34577c;
        border-color: $naranja_pd;
        color: #ffffff;
        a {
            color: $naranja_pd;
        }
    }
}

a {
    color: $naranja_pd;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $azul_pd;
    }

    > .fa {
        color: $naranja_pd;
        &:hover {
            color: white;
        }
    }
}

.navbar-nav {
    font-size: 0.8rem;
    .nav-item+.nav-item {
        margin-left: 0;
    }

    .nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    .nav-link {
        &.cta {
            text-decoration: underline;
        }
        svg {
            width: 25px;
        }
    }
}

.navbar-custom {
    text-transform: uppercase;
    #acceso svg {
        width: 28px;
    }
    .navbar-brand {
        float: left;
        height: 35px;
        padding: 2px 0 0 10px;
        margin-right: 0;
        svg {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &:focus {
            outline: none;
        }
    }
    i:hover {
        cursor: pointer;
        color: $naranja_pd;
    }
    a {
        color: white;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        &:hover {
            svg path, svg rect {
            fill: $naranja_pd;
            }
        }
    }
    .navbar-collapse {
        &.navbar-center {
            text-align: center;
            .navbar-nav {
                float: none;
                display: inline-block;
            }
        }
    }
    .nav {
        a {
            @include transition(background .3s ease-in-out);
            font-weight: bold;
            line-height: 25px;
            &:hover {
                color: $naranja_pd;
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
            &.active {
                color: $naranja_pd;
            }
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    background: url(../img/palacio_legislativo.jpg) center 10% no-repeat #000;
    @include background-size(cover);
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        background-color: rgba(0,0,0,0.5);
        svg {
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
        .extra {
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #5d5d5d;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                color: #5d5d5d;
            }

            .social {
                font-size: 1.3rem;
                a {
                    color: $naranja_pd;
                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }
}

a.btn{
    border: 2px solid $azul_pd;
    &:hover {
        background-color: $azul_pd;
        color: white;
    }
}

.intro .btn {
    border: 2px solid $naranja_pd;
    background-color: $naranja_pd;
    color: white;

    &:hover{
        border: 2px solid $azul_pd;
    } 
}

#popup {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0.5rem 0;
    color: #fff;
    background-color: #f36f21;
    z-index: 9;
    display: none;

    p {
        display: inline-block;
        margin: 0;
    }

    #hide-popup {
        opacity: 1;
        text-shadow: none;
        padding: 0 0.5rem;
    }

    a {
        .fa {
            color: #fff;
        }

        &:hover .fa {
            color: $naranja_pd;
        }
    }
}

.btn-circle {
    width: 8rem;
    height: 8rem;
    font-size: 3.8rem;
    display: inline-block;
    border: 2px solid white;
    border-radius: 100% !important;
    color: white;
    background: $naranja_pd;
    @include transition(background .3s ease-in-out);
    &:hover, &:focus {
        outline: none;
        color: white;
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
    i {
        top: -3px;
        position: relative;
    }
}

a.MP-common-orange-CDl {
    background: $naranja_pd;
    text-decoration: none !important;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid #ffffff;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    position: relative;

    h2 {
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: $naranja_pd;
    }

    &#preguntas {
        h4 {
            font-weight: normal;
        }
    }

    a.btn {
        font-size: 20px;
        border: 2px solid $azul_pd;
        text-decoration: none;
        font-weight: 600;
        color: white;
        background-color: $azul_pd;
        white-space: normal;
        &:hover {
            color: $naranja_pd;
            border-color: $azul_pd;
        }
        &.action {
            border-color: $azul_pd;
        }
    }

    &.separador::before, &.separador::after {
        content: '';
        pointer-events: none;
    }

    &.separador::after {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 2rem auto 3rem;
        background: $naranja_pd;
        box-shadow: 30px 0 $naranja_pd, -30px 0 $naranja_pd;

        .inverted-background & {
            background: $azul_pd;
            box-shadow: 30px 0 $azul_pd, -30px 0 $azul_pd;
        }
    }
}

#abajo {
    background-color: $azul_pd;
    color: white;
    padding-top: 1.5em;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;

    .footer-footer {
        background-color: darken($azul_pd, 20%);
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        font-size: 0.7em;
    }

    .row {
        margin-bottom: 1em;
    }

    .navbar-brand {
        margin-top: 0.7em;
        height: 1.1em;
    }

    .footer-copyright p {
        margin: 0.5em;
        color: #ccc;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }

    h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    h2 a{
        font-size: 2em;
        text-align: center;
        color: #fff;
    }
    a {
        color: #d2d1d1;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: none;
            color: white;
        }
    }
    .social-networks {
        text-align: center;

        a {
            font-size: 2em;
            padding: 0.2em;
            transition: 0.2s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #pieDePagina {
        text-align: center;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(white, 20%);
}

.list-group-item {
    background-color: transparent;
    border: 1px solid grey;
}

.tag-pill {
    &.Logrado {
        background-color: green;
    }
    &.Pendiente {
        background-color: #e09101;
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #000;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #000;
    font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #000;
}

input::placeholder, textarea::placeholder {
    color: #000;
    font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
    color: #000;
}

input::-ms-placeholder, textarea::-ms-placeholder {
    color: #000;
    font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #000;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #000;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #000;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #000;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #000;
    font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #000;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #000;
}

#contactoform {
    margin-bottom: 55px;
}

#registro_web {
    label.btn {
        width: 50%;
        border-radius: 0;
        border-top: none;
        margin-bottom: 0;
		outline: none;
		
		input {
			width: 1px;
		}
		
		&:first-child {
			border-right: 0;
		}
		
		&:last-child {
			border-left: 0;
		}
    }
	
	.btn-primary {
		color: #000;
		background-color: transparent;
		border-color: #040404;

		&.active, &:active, .open>&.dropdown-toggle {
			color: #fff;
			background-color: $naranja_pd;
			border-color: darken($naranja_pd, 20%);
			background-image: none;
		}
	}
}

input {
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #000;

    border: solid 1px #000;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea {
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #ffffff;
    font-size: 0.875em;

    border: solid 1px #ffffff;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#submit {
    padding: 0;
    margin: -7px 0px 0px 0px;
    font-size: 0.875em;
    color: #000;

    outline:none;
    cursor: pointer;

    border: 1px solid #000;
    border-top: none;
}

.inverted-background #submit {
    border-top: 1px solid #ffffff;
    background-color: $azul_pd;
    font-size: 1em;
}

.boton-donar {
    display: inline-block;
    position: relative;
    margin: 10px;

    & .wrapper {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.8);
        border-radius: 40px;
        font-weight: bold;
        font-size: 15pt;
    }

    & .content {
        top: 50%;
        position: relative;
        transform: translateY(-50%);
    }

    &:hover .wrapper {
        display: inline-block;
    }
}

#debate-rss {
    display: none;

    #slider {
        height: 80px;
        .slick-slide {
            height: 80px;
            margin: 0;
            img.autor {
                display: inline-block !important;
                margin-right: 10px;
                width: 30px;
            }
            a {
                text-decoration: underline;
            }
        }
    }
}
