<!DOCTYPE html>
<html lang="es">
<head itemscope itemtype="http://schema.org/WebSite">
	<!-- Cabezal de página -->
	{% include _header.html %}
</head>
<body id="arriba" data-spy="scroll"
	  data-target=".navbar-fixed-top" class="{% if page.layout == 'pagina' %}pagina-layout{%endif%} {% if page.body_class != nil %}{{page.body_class}}{% endif %}">
	<!-- Barra de navegación -->
	{% if page.title != nil %}
	{% include _navegacion.html %}
	{% endif %}

	<!-- Contenido principal -->
	{{ content | replace: "á", "&#225;" | replace: "é", "&#233;" | replace: "í", "&#237;" | replace: "ó", "&#243;" | replace: "ú", "&#250;" }}

	{% if page.title != nil %}
	<!-- Footer -->
	{% include _footer.html %}
	{% endif %}

	<!-- Scripts -->
	{% include _scripts.html %}

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<!-- 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always">></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
